@layout(title = "Home", activeTab = "home") {



<section>
	<div class="row">
		<div
			class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="panel panel-default">
				<div class="panel-body" id="aboutme">
					<div class="pull-left col-xs-12 col-sm-2">
						<img class="media-object img-circle"
							src="https://en.gravatar.com/userimage/61741063/39e93384972f83a6b0b629b9b252d0df.jpg?size=100"
							style="width: 100px; height: 100px;" /> 
						<br /> 
						<br /> 
						
						<a target="_new" href="https://github.com/dbuschman7">
							<img class="media-object" src="https://assets-cdn.github.com/images/modules/logos_page/Octocat.png" style="width: 100px; height: 100px;" />
						</a> 
						<br /> 
						<br /> 
						<a target="_new" href="https://www.linkedin.com/in/dbuschman7/">
							<img class="media-object" src="http://press.linkedin.com/download-media/206" style="width: 100px; height: 100px;" />
						</a>
					</div>
					<div class="col-xs-12 col-sm-10">
						<h4 class="media-heading">About Me</h4>
						<p>My name is David Buschman, and this is my playground</p>
						<p>I am technology leader, architect, mentor, code wrangler,
							and software poet in the Java Enterprise space. I have worked
							mostly in Saas-based data-intensive applications and processes. I
							have been in the Java Enterprise application and web services
							arena. I have worked all areas from the front-end GUI to the
							database backend, developer to architect, from build and
							deployment systems to automated testing and everywhere in
							between. Sometimes I work in many of the areas within the same
							day.</p>
						<p>I value the quality of the solutions I craft for their
							building, testing, and maintenance characteristics. When I write
							new code or re-factor existing code, I use unit tests to insure
							correct functionality, as well as Design Patterns for keeping
							implementations simple, easy to maintain, and consistent with
							many of today's good programming practices and paradigms.</p>
						<p>I am always on the look out for new technologies and
							libraries that truly simplify development and maintenance of
							applications, not just talk hype. I am currently introducing some
							technologies into my current employer including AngularJS and
							Bootstrap 3 for the UI, Play and AKKA Frameworks for the backend
							service, and MongoDB as a primary datastore.</p>
						<p>I always strive to leave any code I create or modify at
							least a little bit better than when I began working on it.</p>

					</div>
				</div>
			</div>
		</div>
	</div>
</section>

}
