@(title: String)
<!DOCTYPE html>

<html>
<head>
<title>@title</title>
<link rel="stylesheet" media="screen" href="@routes.Assets.at("stylesheets/main.css")">
<link rel="stylesheet" media="screen" href="@routes.WebJarAssets.at(WebJarAssets.locate("bootstrap.min.css"))">

<link rel="shortcut icon" type="image/png" href="@routes.Assets.at("images/favicon.png")">

<script src="@routes.WebJarAssets.at(WebJarAssets.locate("angular.min.js"))"></script>
<script src="@routes.Assets.at("javascripts/controllers.js")"></script>
<script src="@routes.Assets.at("javascripts/app.js")"></script>
<script src="@routes.WebJarAssets.at(WebJarAssets.locate("d3.min.js"))"></script>

<style type="text/css">
td.left {
	padding-left: 10px;
}

td.right {
	padding-right: 10px;
}

.serverLabel {
	margin: 3px;
	padding: 3px;
	font: 12px sans-serif;
	color: black;
}

.serverData {
	font: 12px sans-serif;
	color: steelblue;
}

.serverTime {
	margin: 10px;
	font: 15px sans-serif;
	margin-bottom: 10px;
}

.methodChart div {
	font: 10px sans-serif;
	background-color: steelblue;
	text-align: right;
	padding: 3px;
	margin: 1px;
	color: white;
}

.well table {
	border: 1;
	cellpadding: 10px;
	width: 95% margin-right: 50px;
}

.left {
	width: 35%;
}

.middleLeft {
	width: 100px;
	padding: 10px;
	vertical-align: top;
}

.lineBar {
	padding: 3px;
}

.middleRight {
	width: 25%;
	padding: 1px;
}

.right {
	width: 100px;
	/* 	border: 1px solid #000; */
}

.form-search {
	margin-bottom: 10px;
}

#search {
	margin-bottom: 10px;
}

.warning {
	background-color: yellow;
}

.alert {
	background-color: red;
}

.high {
	background-color: yellow;
	border: 1px solid #aaa;
}

.pieDevice svg {
	height: 400px;
}
</style>

</head>
<body ng-app="realtimeSearch">



	<div ng-controller="SearchCtrl">
		<table class="well">
			<tr>
				<td width="35%" class="left">
					<p class="serverTime">Elasticsearch Query</p>
					<form class="form-search" ng-submit="startSearching()">
						<input type="text" class="input-xlarge search-query" name="searchString" id="textField" ng-model="searchString"
							placeholder="Enter Lucene query string" /> <input type="button" class="btn btn-primary" id="search" value="Search"
							ng-click="startSearching()" />
					</form>
					<p class="serverLabel">
						Server Time : <span class="serverData"> {{serverTime | date:'yyyy-MM-dd HH:mm:ss Z'}}</span>
					</p>
					<p class="serverLabel">
						Requests : <span class="serverData">{{requests}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: responseTime > 500}">
						ResponseTime(avg) : <span class="serverData">{{responseTime | number:2}}</span>
					</p>
				</td>
				<td class="middleLeft">
					<p class="serverLabel" ng-class="{high: highBrand=='chrome'}">
						Chrome : <span class="serverData">{{chrome}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: highBrand=='safari'}">
						Safari : <span class="serverData">{{safari}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: highBrand=='firefox'}">
						Firefox : <span class="serverData">{{firefox}}</span
					</p>
					<p class="serverLabel" ng-class="{high: highBrand=='other'}">
						Other : <span class="serverData">{{other}}</span>
					</p> <br />
				</td>
				<td class="middleLeft">
					<p class="serverLabel" ng-class="{high: highDevice=='desktop'}">
						Desktop : <span class="serverData">{{desktop}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: highDevice=='tablet'}">
						Tablet : <span class="serverData">{{tablet}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: highDevice=='phone'}">
						Phone : <span class="serverData">{{phone}}</span>
					</p>
					<p class="serverLabel" ng-class="{high: highDevice=='tv'}">
						Tv : <span class="serverData">{{tv}}</span>
					</p>
				</td>
				<td class="middle" width="200" height="150">
					<div>
						<svg></svg>
					</div>
				</td>
				<td class="middleRight"></td>
				<td class="right">&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;</td>
			</tr>
		</table>
		<div id="results">
			<table class="table table-striped">
				<thead>
					<tr>
						<th>Timestamp</th>
						<th>Method</th>
						<th>Path</th>
						<th>Status</th>
						<th>Time (ms)</th>
						<th>Device</th>
						<th>User Agent</th>
					</tr>
				</thead>
				<tbody>
					<tr ng-repeat="searchResult in searchResults | limitTo:10">
						<td>{{searchResult.timestamp}}</td>
						<td>{{searchResult.method}}</td>
						<td>{{searchResult.path}}</td>
						<td>{{searchResult.status}}</td>
						<td>{{searchResult.response_time}}</td>
						<td>{{searchResult.device}}</td>
						<td>{{searchResult.user_agent}}</td>
					</tr>
				</tbody>
			</table>
		</div>
	</div>


	<div class="pieDevice">
		<svg></svg>
	</div>


	<a href="http://www.reactivemanifesto.org/"> <img style="border: 0; position: fixed; right: 0; top: 0; z-index: 9000"
		src="@routes.Assets.at("/images/we-are-reactive-blue-right.png")">
	</a>
</body>
</html>
<script type="text/javascript">
	function fitLabel(action, count) {
		if (count == 0) {
			return "";
		}
		return action + " " + count;
	}

	function generateLabel(d, i) {
		switch (i) {
		case 0:
			return fitLabel("GET", d);
		case 1:
			return fitLabel("PUT", d);
		case 2:
			return fitLabel("POST ", d);
		case 3:
			return fitLabel("DELETE ", d);
		default: {
			return fitLabel("", d);
		}
		}
	}

	// initial empty scale
	var xScale = d3.scale.linear().domain([ 0, 0 ]).range([ 0, 150 ]);

	var methodChart = d3.select(".middleRight")//
	.append("div").attr("class", "methodChart");
	//
	methodChart.selectAll("div")//
	.data([ 0, 0, 0, 0 ]).enter()//
	.append("div")//
	.style("width", function(d) {
		return xScale(d) + "px";
	})//
	.text(generateLabel)//
	;

	function redrawMethods(currentData) {
		xScale = d3.scale.linear()//
		.domain([ 0, d3.max(currentData) ])//
		.range([ 0, 150 ]);

		// Update…
		methodChart.selectAll("div")//
		.data(currentData)//
		.transition().duration(600)//
		.style("width", function(d) {
			return xScale(d) + "px";
		})//
		.text(generateLabel)//
		;
	}
	
	function determineHighBrand(scopeData) {
		var high = 'chrome';
		var highVal = scopeData.chrome;

		if (highVal < scopeData.safari) {
			high = 'safari';
			highVal = scopeData.safari;
		}
		if (highVal < scopeData.firefox) {
			high = 'firefox';
			hightVal = scopeData.firefox;
		}
		if (highVal < scopeData.other) {
			high = 'other';
			hightVal = scopeData.other;
		}

		return high;
	}

	function determineHighDevice(scopeData) {
		var high = 'desktop';
		var highVal = scopeData.desktop;

		if (highVal < scopeData.tablet) {
			high = 'tablet';
			highVal = scopeData.tablet;
		}
		if (highVal < scopeData.phone) {
			high = 'phone';
			highVal = scopeData.tablet;
		}
		if (highVal < scopeData.tv) {
			high = 'tv';
			hightVal = scopeData.tv;
		}
		return high;
	}
</script>