@layout(title = "MongoFS", activeTab = "mongofs") {



<section>
	<div class="row">
		<div
			class="col-xs-12 col-sm-10 col-sm-offset-1 col-md-offset-1 col-lg-offset-1">
			<div class="panel panel-default">
				<div class="panel-body" id="mongofs">
						<img class="media-object" src="/assets/images/mongofs-logo.png" />
						<p>An enhanced file storage implementation in MongoDB that
							extends the GridFS functionality of the Mongo-Java-Driver</p>
						<br />

						<h4 class="media-heading">Summary</h4>
						<p>This project came out of a need in my company to extend the
							current GridFS functionality to include compression of file data.
							After spending a day or so trying to work with the existing
							implementation, I determined that the existing implementation was
							not going to be extendible due to the current use of inner
							classes and heavy cross-class collusion. So I decided to re-write
							the existing implementation in order to extend it and publish
							those enhancements for anyone else who will like to make use of
							it.</p>

						<p>Also the "coming soon" Mongo-Java-Driver 3.0.x which is an
							almost complete re-write by the MonogDB folks has a new and much
							cleaner API and Object Model, I need a way to bridge the gap
							seamlessly at my current company because we are making heavy use
							of the library using the 2.10.x thru 2.12.x drivers. I need to be
							able to migrate these systems to the new 3.0.x driver when it is
							released.</p>
					<p>To see comparision of MongoFS to the old GridFS implementation, <a target="_new" href="http://dbuschman7.github.io/mongoFS/#features" >click here</a></p>

						<h4 class="media-heading">Usage</h4>
						<p>Goto the <a target="_new" href="http://dbuschman7.github.io/mongoFS/#download" >downloads</a> section to see the latest version and
							how to get it.</p> 
						<p>To get started, checkout the <a target="_new" href="https://github.com/dbuschman7/mongoFS/blob/master/usage.md" >Usage</a> page on Github</p>	
						<p>Check out my task list under the <a target="_new" href="https://github.com/dbuschman7/mongoFS/blob/master/TODO.md" >TODO</a> to check the
							progress.</p>


				</div>
			</div>
		</div>
	</div>
</section>


}
